.wrapper-searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background: #ffffff;
  width: 1166px;
  margin: 0 auto;
  height: 111px;
  gap: 1rem;
  padding: 27px 24px;
  border-radius: 15px;
  top: 179px;
  left: 135px;
  padding: 27px 24px 27px 24px;
  gap: 29px;
  border-radius: 15px;
  opacity: 0px;
  box-shadow: 6px 6px 35px 0px #1028511C;


}
.searchBox {
  display: flex;
  width: 285px;
  height: fit-content;
  border: 1px solid #f0f0f0;
  background: #fafbfe;
  border-radius: 0.5rem;
  height: 50px;
}
.searchBox input {
  border: none;
  outline: none;
  background: #fafbfe;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.button-search {
  width: 231px;
height: 50px;
gap: 0px;
border-radius: 8px;
opacity: 0px;
background: #2AA8FF;
color: white;
border: none;
height: fit-content;

}

.city {
  flex-grow: 1;
}

.state {
  width: fit-content;
}
