.consultation {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.consultation-container {
  width: 90%; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  flex-wrap: wrap; 
}

.consultation-images {
  width: 100%; 
  display: flex;
  justify-content: center; 
  margin-bottom: 1.5rem; 
}

.consultation-images img {
  max-width: 100%; 
  height: auto;
}

.consultation-content {
  width: 100%;

}

.consultation-heading {
  font-size: 14px; 
  line-height: 22px;
  color: #2aa7ff;
}

.consultation-subheading {
  font-size: 36px; 
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 1.5rem;
  color: #1b3c74;
  font-family: poppins;
}

.consultation-subheading span {
  color: #2aa7ff;
}

.consultation-para {
  font-family: "Inter", sans-serif;
  font-size: 16px; 
  font-weight: 500;
  line-height: 26px;
  color: #77829d;
  margin-bottom: 1.5rem;
}

.consultation-feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto 1rem; 
  
}

.consultation-feature img {
 margin-top: -12px;
}

.consultation-feature p {
  font-family: "Roboto", sans-serif;
  font-size: 16px; 
  font-weight: 500;
  line-height: 25px;
  color: #1b3c74;
}

@media (min-width: 768px) {
  .consultation-container {
    flex-wrap: nowrap; 
  }

  .consultation-images,
  .consultation-content {
    width: 50%; 
  }

  .consultation-subheading {
    font-size: 40px; 
  }

  .consultation-para {
    font-size: 17px;
  }

  .consultation-feature p {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .consultation {
    padding: 4rem 2rem; 
  }

  .consultation-container {
    gap: 3rem; 
  }

  .consultation-subheading {
    font-size: 48px; 
  }

  .consultation-para {
    font-size: 17px;
  }
}
