.wrapper {
  background: #2AA7FF;
  color: white;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden; 
  position: relative;
}

.wrapper p {
  position: absolute;
  white-space: nowrap; 
  animation: scroll-left 20s linear infinite; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); 
  }
}
@media (max-width: 768px) {
  .wrapper {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    font-size: 10px;
  }
}
